<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase: </h2>
    <form action="/" method="post">
      <label for="user_phrase">Phrase</label>
      <input type="text" name="user_phrase">
    </form>
  </body>
</html>
